{% extends 'base.html' %}
{% load static %}

{% block title %}Team{% endblock title %}

{% block content %}
    <form class="w-100 d-flex flex-column gap-3 p-4 bg-2 rounded" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">Create a Company</h2>

        <div class="d-flex gap-2">
            <div class="d-flex flex-column gap-2 w-100">
                <!-- Company Name Field -->
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Company Name" required value="{{ form.name.value|default_if_none:'' }}">
                    {% if form.name.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        
                <!-- Description Field -->
                <div class="form-group h-100">
                    <textarea name="description" id="description" placeholder="Description" class="form-control h-100">{{ form.description.value|default_if_none:'' }}</textarea>
                    {% if form.description.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.description.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            <!-- Logo Field -->
            <div class="form-group">
                <label for="logo" class="border d-flex justify-content-center align-items-center" style="max-height: 200px; max-width: 200px; min-height: 200px; min-width: 200px;">
                    <img
                        id="image_preview"
                        src="{% static 'images/logo_placeholder.jpg' %}"
                        class="img-fluid pointer">
                </label>
                <input type="file" name="logo" id="logo" class="d-none" onchange="previewImage(event)">
                {% if form.logo.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.logo.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="d-flex gap-2">
            <!-- Industry Field -->
            <div class="form-group w-100">
                <input type="text" name="industry" id="industry" class="form-control" placeholder="Industry" value="{{ form.industry.value|default_if_none:'' }}">
                {% if form.industry.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.industry.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <!-- Company Type Field -->
            <div class="form-group w-100">
                <select name="company_type" id="company_type" class="form-control">
                    {% for value, label in form.company_type.field.choices %}
                        <option value="{{ value }}" {% if form.company_type.value == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
                {% if form.company_type.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.company_type.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="d-flex gap-2">
            <!-- Email Field -->
            <div class="form-group w-100">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}">
                {% if form.email.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
    
            <!-- Phone Field -->
            <div class="form-group w-100">
                <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" value="{{ form.phone.value|default_if_none:'' }}">
                {% if form.phone.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.phone.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Website Field -->
            <div class="form-group w-100">
                <input type="url" name="website" id="website" class="form-control" placeholder="Website" value="{{ form.website.value|default_if_none:'' }}">
                {% if form.website.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.website.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="d-flex gap-2">
            <!-- Country Field -->
            <div class="form-group w-100">
                <input type="text" name="country" id="country" class="form-control" placeholder="Country" value="{{ form.country.value|default_if_none:'' }}">
                {% if form.country.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.country.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- City Field -->
            <div class="form-group w-100">
                <input type="text" name="city" id="city" class="form-control" placeholder="City" value="{{ form.city.value|default_if_none:'' }}">
                {% if form.city.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.city.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Address Field -->
            <div class="form-group w-100">
                <input type="text" name="address" id="address" class="form-control" placeholder="Address" value="{{ form.address.value|default_if_none:'' }}">
                {% if form.address.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.address.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Create Company</button>
    </form>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}