{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.full_name }}'s analytics{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="row mb-5">
        <div class="col-3 d-flex flex-column justify-content-center align-items-center p-3 bg-2 rounded">
            <img src="{{ employee.profile_picture.url }}" width="150px" height="150px" class="rounded-circle">
            <h3>
                {{ employee.full_name }}
            </h3>
        </div>
        <div class="col-3 d-flex flex-column gap-3">
            <div class="bg-2 rounded h-100 d-flex align-items-center justify-content-center">
                Annual vacation days: {{ employee.annual_vacation_days }}
            </div>
            <div class="bg-2 rounded h-100 d-flex align-items-center justify-content-center">
                Used vacation days: {{ employee.used_vacation_days }}
            </div>
            <div class="bg-2 rounded h-100 d-flex align-items-center justify-content-center">
                Remaining vacation days: {{ employee.remaining_vacation_days }}
            </div>
        </div>
    </div>

    <div class="d-flex flex-column gap-3 mb-5">
        <!-- Time range selection -->
        <div class="btn-group btn-group-sm" role="group" aria-label="Time range selection">
    
            <!-- This week -->
            <input type="radio" class="btn-check" name="timeRange" id="week" autocomplete="off" checked>
            <label class="btn {% if request.user.theme == 'dark' %}btn-outline-light{% else %}btn-outline-dark{% endif %}" for="week">This week</label>
    
            <!-- Last week -->
            <input type="radio" class="btn-check" name="timeRange" id="lastWeek" autocomplete="off">
            <label class="btn {% if request.user.theme == 'dark' %}btn-outline-light{% else %}btn-outline-dark{% endif %}" for="lastWeek">Last week</label>
    
            <!-- This month -->
            <input type="radio" class="btn-check" name="timeRange" id="month" autocomplete="off">
            <label class="btn {% if request.user.theme == 'dark' %}btn-outline-light{% else %}btn-outline-dark{% endif %}" for="month">This month</label>
    
            <!-- Last month -->
            <input type="radio" class="btn-check" name="timeRange" id="lastMonth" autocomplete="off">
            <label class="btn {% if request.user.theme == 'dark' %}btn-outline-light{% else %}btn-outline-dark{% endif %}" for="lastMonth">Last month</label>
    
            <!-- All time -->
            <input type="radio" class="btn-check" name="timeRange" id="allTime" autocomplete="off">
            <label class="btn {% if request.user.theme == 'dark' %}btn-outline-light{% else %}btn-outline-dark{% endif %}" for="allTime">All time</label>
        </div>
        
        <div class="d-flex gap-3" style="height: 350px;">
            <!-- Donut chart -->
            <div class="d-flex flex-column justify-content-between" style="height: 350px; width: 350px;">
                <canvas id="donutChart" style="height: 310px; width: 310px;"></canvas>
                <h4 class="text-center" id="total_time"></h4>
            </div>
            
            <!-- Stacked Bar chart -->
            <div style="width: 100%;">
                <canvas id="employeeChart" data-employee-id="{{ employee.id }}"></canvas>
            </div>
        </div>
    </div>
    
    <h2 class="mb-2 text-center">Assigned tasks</h2>
    <div class="d-flex flex-column w-100">
        <!-- Task group header -->
        <div class="d-flex justify-content-center">
            <div style="width: 5px;"></div>
            <div class="row py-2 w-100">
                <div class="fs-6 col-9">Name</div>
                <div class="col-1 text-center">Project</div>
                <div class="col-1 text-center" style="white-space: nowrap;">Due Date</div>
                <div class="col-1 text-center">Actions</div>
            </div>
        </div>
        {% for task in assigned_tasks %}

            <!-- Task item -->
            {% include "main/task_item.html" %}
            
            <!-- Edit Task Offcanvas -->
            {% include "main/task_editing_form.html" %}
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/employee_analytics.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
{% endblock scripts %}