{% extends 'base.html' %}
{% load static %}

{% block title %}{{ member.user.full_name }}'s analytics{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="row">
        <div class="card col d-flex flex-column justify-content-center align-items-center mb-5 p-3">
            <img src="{{ member.user.profile_picture.url }}" width="150px">
            <h3>
                {{ member.user.full_name }}
            </h3>
        </div>
    </div>

    <div class="d-flex flex-column gap-3 mb-5">
        <!-- Time range selection -->
        <div class="btn-group btn-group-sm" role="group" aria-label="Time range selection">
    
            <!-- This week -->
            <input type="radio" class="btn-check" name="timeRange" id="week" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="week">This week</label>
    
            <!-- Last week -->
            <input type="radio" class="btn-check" name="timeRange" id="lastWeek" autocomplete="off">
            <label class="btn btn-outline-secondary" for="lastWeek">Last week</label>
    
            <!-- This month -->
            <input type="radio" class="btn-check" name="timeRange" id="month" autocomplete="off">
            <label class="btn btn-outline-secondary" for="month">This month</label>
    
            <!-- Last month -->
            <input type="radio" class="btn-check" name="timeRange" id="lastMonth" autocomplete="off">
            <label class="btn btn-outline-secondary" for="lastMonth">Last month</label>
    
            <!-- All time -->
            <input type="radio" class="btn-check" name="timeRange" id="allTime" autocomplete="off">
            <label class="btn btn-outline-secondary" for="allTime">All time</label>
        </div>
        
        <div class="d-flex gap-3" style="height: 350px;">
            <!-- Donut chart -->
            <div class="d-flex flex-column justify-content-between" style="height: 350px; width: 350px;">
                <canvas id="donutChart" style="height: 310px; width: 310px;"></canvas>
                <h4 class="text-center" id="total_time"></h4>
            </div>
            
            <!-- Stacked Bar chart -->
            <div style="width: 100%;">
                <canvas id="memberChart" data-member-id="{{ member.id }}"></canvas>
            </div>
        </div>
    </div>
    
    <h2 class="mb-3 text-center">Assigned tasks</h2>
    <div class="d-flex flex-column">
        {% for task in assigned_tasks %}
            {% include "main/task_item.html" %}
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/member_analytics.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
{% endblock scripts %}