{% extends 'base.html' %}
{% load static %}

{% block title %}Team{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <form class="w-100 mb-4 bg-2 rounded p-4 d-flex flex-column gap-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">Company Settings</h2>
        <div class="d-flex flex-column gap-3">
            <div class="d-flex gap-3">
                <div class="d-flex flex-column gap-3 w-100">
                    <!-- Company Name Field -->
                    <div class="form-group">
                        <input type="text" name="company-name" id="name" class="form-control" placeholder="Company Name" required value="{{ company_form.name.value|default_if_none:'' }}">
                        {% if company_form.name.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in company_form.name.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            
                    <!-- Description Field -->
                    <div class="form-group h-100">
                        <textarea name="company-description" id="description" placeholder="Description" class="form-control h-100">{{ company_form.description.value|default_if_none:'' }}</textarea>
                        {% if company_form.description.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in company_form.description.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
        
                <!-- Logo Field -->
                <div class="form-group">
                    <label for="logo" class="d-flex justify-content-center align-items-center bg-3 img-sett" style="max-height: 200px; max-width: 200px; min-height: 200px; min-width: 200px;">
                        <img
                            id="image_preview"
                            src="{% if company_form.instance.logo %}{{ company_form.instance.logo.url }}{% else %}{% static 'images/logo_placeholder.jpg' %}{% endif %}"
                            class="img-fluid pointer">
                    </label>
                    <input type="file" name="company-logo" id="logo" class="d-none" onchange="previewImage(event)">
                    {% if company_form.logo.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.logo.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="d-flex gap-2">
                <!-- Industry Field -->
                <div class="form-group w-100">
                    <input type="text" name="company-industry" id="industry" class="form-control" placeholder="Industry" value="{{ company_form.industry.value|default_if_none:'' }}">
                    {% if company_form.industry.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.industry.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <!-- Company Type Field -->
                <div class="form-group w-100">
                    <select name="company-company_type" id="company_type" class="form-control">
                        {% for value, label in company_form.company_type.field.choices %}
                            <option value="{{ value }}" {% if company_form.company_type.value == value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if company_form.company_type.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.company_type.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            <div class="d-flex gap-2">
                <!-- Email Field -->
                <div class="form-group w-100">
                    <input type="email" name="company-email" id="email" class="form-control" placeholder="Email" value="{{ company_form.email.value|default_if_none:'' }}">
                    {% if company_form.email.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        
                <!-- Phone Field -->
                <div class="form-group w-100">
                    <input type="text" name="company-phone" id="phone" class="form-control" placeholder="Phone" value="{{ company_form.phone.value|default_if_none:'' }}">
                    {% if company_form.phone.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.phone.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
    
                <!-- Website Field -->
                <div class="form-group w-100">
                    <input type="url" name="company-website" id="website" class="form-control" placeholder="Website" value="{{ company_form.website.value|default_if_none:'' }}">
                    {% if company_form.website.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.website.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            <div class="d-flex gap-2">
                <!-- Country Field -->
                <div class="form-group w-100">
                    <input type="text" name="company-country" id="country" class="form-control" placeholder="Country" value="{{ company_form.country.value|default_if_none:'' }}">
                    {% if company_form.country.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.country.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
    
                <!-- City Field -->
                <div class="form-group w-100">
                    <input type="text" name="company-city" id="city" class="form-control" placeholder="City" value="{{ company_form.city.value|default_if_none:'' }}">
                    {% if company_form.city.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.city.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
    
                <!-- Address Field -->
                <div class="form-group w-100">
                    <input type="text" name="company-address" id="address" class="form-control" placeholder="Address" value="{{ company_form.address.value|default_if_none:'' }}">
                    {% if company_form.address.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in company_form.address.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            <input type="hidden" name="form_type" value="company">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>

    {% if messages %}
        <!-- Messages -->
        <div class="mb-4">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} mt-2" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">

        <div class="col-3 d-flex flex-column align-items-center mb-5">

            <!-- Job Title Creation Offcanvas -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="jobTitleCreationOffcanvas">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title text-center">Create Job Title</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form method="post" class="d-flex flex-column gap-2" id="create-job-title-form">
                        {% csrf_token %}
                        <!-- Name -->
                        <input type="text" name="name" class="form-control" placeholder="Job Title" required maxlength="100">

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>                                 
                </div>
            </div>
            
            <!-- Table Header -->
            <div class="row p-2 w-100 fw-bold">
                <div class="col-8 d-flex gap-2">
                    Job Title
                    
                    <!-- Job Title Creation Button -->
                    <button class="btn btn-primary rounded-3 shadow-lg d-flex justify-content-center align-items-center"
                    style="width: 24px; height: 24px; border-radius: 5px !important;"
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#jobTitleCreationOffcanvas">
                    <i class="bi bi-plus-lg" style="font-size: 14px; font-weight: bold;"></i>
                </button>
                </div>
                <div class="col-4 text-center">Actions</div>
            </div>

            {% if company.job_titles.count == 0 %}<h5 class="text-center">No job titles yet</h5>{% endif %}
            {% for job_title in company.job_titles.all %}
                <div class="list-item row p-2 w-100 bg-2" id="job-title-{{ job_title.id }}">
                    <div class="col-8">{{ job_title.name }}</div>
                    <!-- Action icons -->
                    <div class="col-4 d-flex gap-3 action-icons justify-content-center">
                        <!-- Delete Job Title Button -->
                        <i class="bi bi-trash" data-bs-toggle="tooltip" title="Delete" onclick="deleteJobTitle({{ job_title.id }})"></i>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Leave Company Button -->
        <form action="{% url 'teams:leave_company' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Leave Company</button>
        </form>
    </div>
    
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/company_settings.js' %}"></script>
{% endblock scripts %}