{% extends 'base.html' %}
{% load static %}

{% block title %} Profile | {{ user.username }} {% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block content %}
	<div class="main__todolist">
        <div class="container row justify-content-center">

            <!-- Profile info -->
            <div class="card card-profile my-3 p-0">
                <div class="d-flex left-profile">
                    <img src="{{ user.profile.profile_picture.url }}" class="img-fluid rounded-start profile-img" style="max-height: 200px; max-width: 200px">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    </div>
                </div>
            </div>

            <!-- Statistics -->
            <div id="statistics" class="p-0">
                <div class="card p-3 d-inline-block" id="completed-tasks">
                    <h5>{{ completed_tasks_statistics }}</h5>
                </div>
                <div class="card p-3 d-inline-block" id="overdue-tasks">
                    <h5>Overdue: {{ overdue_tasks }}</h5>
                </div>
                <div class="card p-3 d-inline-block" id="remaining-tasks">
                    <h5>Remaining: {{ remaining_tasks }}</h5>
                </div>
            </div>

            <!-- Chart -->
            {% include 'completed_tasks_chart.html' %} 
        </div>
	</div>
    {% endblock content %}
    
    {% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}