{% extends 'base.html' %}
{% load static %}

{% block title %} Profile | {{ user.username }} {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block content %}
    <div class="row">
        <!-- Left half -->
        <div class="col-4 d-flex flex-column gap-4">

            <!-- Profile card -->
            <div class="card d-flex flex-column justify-content-center p-4 gap-4" id="profile-card">
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" id="profile-picture">
                <h3 class="text-center">{{ user.first_name }} {{ user.last_name }}</h3>
                <a href="{% url 'settings' %}" class="btn btn-outline-secondary">Edit Profile</a>
            </div>
            
            <!-- Donut chart -->
            <div class="card p-4" id="donut-chart">
                <h5 class="text-center mb-3">Completed tasks by project</h5>
                <canvas id="myDonutChart" width="400" height="400"></canvas>
            </div>
        </div>
        
        <!-- Right half -->
        <div class="col-8 d-flex flex-column gap-4">
            
            <!-- Chart -->
            <div class="card px-3" id="completed-tasks-chart">
                {% include 'completed_tasks_chart.html' %}
            </div>
            
            <!-- Statistics -->
            <div class="d-flex gap-4" id="statistics">
                <h5 class="col card p-3 text-center" id="completed-tasks">Completed: {{ completed_tasks }}</h5>
                <h5 class="col card p-3 text-center" id="overdue-tasks">Overdue: {{ overdue_tasks }}</h5>
                <h5 class="col card p-3 text-center" id="remaining-tasks">Remaining: {{ remaining_tasks }}</h5>
            </div>
        </div>
    </div>
    {% endblock content %}
    
    {% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myDonutChart').getContext('2d');
        const myDonutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: {{ project_labels|safe }},
                datasets: [{
                    data: {{ project_data|safe }},
                    backgroundColor: {{ project_colors|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw + ' completed tasks';
                            }
                        }
                    }
                }
            }
        });
    </script>
{% endblock scripts %}