{% extends 'base.html' %}
{% load static %}

{% block title %} Settings {% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="d-flex flex-column gap-3 bg-2 rounded py-3 px-4 my-4">
        <h3 class="text-center">User Settings</h3>
        <form class="d-flex flex-column align-items-center" method="POST" enctype="multipart/form-data" id="edit-user-form">
            {% csrf_token %}

            <div class="d-flex gap-3 justify-content-center align-items-center w-100">
                <!-- Profile picture -->
                <div>
                    <label for="profile_picture_input">
                        <img 
                            id="profile_picture" 
                            src="{{ user.profile_picture.url }}" 
                            class="img-sett pointer" 
                            style="height: 180px; width: 180px;">
                    </label>
                    <input type="file" id="profile_picture_input" name="profile_picture" class="d-none" accept="image/*">
                </div>
    
                <div class="row align-items-start w-100">
                    <div class="col d-flex flex-column gap-3">
                        <!-- Email -->
                        <div>
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required autocomplete="on">
                        </div>

                        <!-- Date of Birth -->
                        <div>
                            <label for="date_of_birth" class="form-label">Date of Birth:</label>
                            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ user.date_of_birth|default_if_none:''|date:'Y-m-d' }}" autocomplete="on">
                        </div>
                    </div>
                    
                    <div class="col d-flex flex-column gap-3">
                        
                        <!-- First Name -->
                        <div>
                            <label for="first_name" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required autocomplete="on">
                        </div>
                        
                        <!-- Last Name -->
                        <div>
                            <label for="last_name" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required autocomplete="on">
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-25 mt-3">Save</button>

            <p class="text-danger text-center mb-0 mt-2" id="error"></p>
        </form>

        <div class="form-check form-switch d-flex justify-content-center gap-2">
            <input class="form-check-input" type="checkbox" role="switch" id="theme-switch">
            <label class="form-check-label" for="theme-switch">{% if user.theme == 'dark' %}Light mode{% else %}Dark mode{% endif %}</label>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock scripts %}