{% extends 'base.html' %}
{% load static %}

{% block title %}Timetracker{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/timetracker.css' %}">
{% endblock styles %}

{% block content %}
	<form method="post" class="d-flex flex-column gap-3 bg-2 rounded p-3" id="tracker-form">
		{% csrf_token %}

		<!-- Top row -->
		<div class="row">
			<!-- Task select -->
			<div class="col">
				<select name="task" class="form-select" id="task-select">
					<option value="" selected>Select a task</option>
					{% for task in tasks %}
					<option value="{{ task.id }}" data-title="{{ task.title }}" data-project-id="{{ task.project.id }}">{{ task.title }}</option>
					{% endfor %}
				</select>
			</div>
	
			<!-- Name -->
			<div class="col">
				<input type="text" name="name" class="form-control" placeholder="What are you working on?" required id="name-input">
			</div>
	
			<!-- Project select -->
			<div class="col">
				<select name="project" class="form-select" id="project-select">
					<option value="" selected>Select a project</option>
					{% for project in request.user.all_projects %}
						<option value="{{ project.id }}">{{ project.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<!-- Bottom row -->
		<div class="row">
			<!-- Submit button -->
			<div class="col-8">
				<button type="submit" class="btn w-100" id="timer-button">Start</button>
			</div>

			<div class="col-4 d-flex justify-content-center align-items-center fs-3" id="timer">
				00:00:00
			</div>
		</div>
	</form>

	<!-- Time entries -->
	<div class="d-flex flex-column my-4 gap-4">
		{% for date, name_groups in grouped_time_entries.items %}
			<div>
				<div class="time-entry-header">
					<div class="row w-100 py-2">
						<div class="fs-6 col-7">
							{{ date }}
						</div>
						<div class="col-2 text-center">
							Time Range
						</div>
						<div class="fs-6 col-2 text-center">
							Total: {{ name_groups.date_total_duration }}
						</div>
						<div class="col-1 text-center">
							Actions
						</div>
					</div>
				</div>
				{% for name, group_data in name_groups.items %}
					{% if name != 'date_total_duration' %}
						{% with group_data.time_entries|first as first_entry %}
							{% with group_data.time_entries|last as last_entry %}

								<!-- Time entry grouper -->
								<div 
									class="d-flex pointer grouper"
									role="button"
									data-bs-toggle="collapse"
									data-bs-target="#time-entry-collapse-{{ first_entry.id }}"
									id="time-entry-grouper-{{ first_entry.id }}">
			
									<!-- Project Color -->
									<div class="project-color" {% if first_entry.project.color %}style="background-color: {{ first_entry.project.color }}"{% endif %}></div>
									
									<div class="row py-2 w-100 m-0">
										<div class="col-7 d-flex align-items-center ">
											<span class="badge text-bg-primary">{{ group_data.time_entries|length }}</span>
											<!-- Name -->
											<span class="time-entry-title mx-2">{{ first_entry.name }}</span>
											<!-- Project -->
											{% if time_entry.project %}
												<span class="project-title">{{ first_entry.project }}</span>
											{% endif %}
										</div>
						
										<!-- Start time and End time -->
										<div class="col-2 text-center ">
											{{ last_entry.start_time|time:"H:i" }} - {{ first_entry.end_time|time:"H:i" }}
										</div>
						
										<!-- Duration -->
										<div class="col-2 text-center ">
											{{ group_data.total_duration }}
										</div>
										<div class="col-1 action-icons d-flex justify-content-center">
											<i class="bi bi-chevron-down"></i>
										</div>
									</div>
								</div>

								<!-- Time entry collapse -->
								<div class="collapse" id="time-entry-collapse-{{ first_entry.id }}">
									{% for time_entry in group_data.time_entries %}

										<!-- Time Entry -->
										<div 
											class="time-entry d-flex pointer" 
											data-time-entry-parent="time-entry-collapse-{{ first_entry.id }}" 
											data-time-entry-grouper="time-entry-grouper-{{ first_entry.id }}" 
											data-offcanvas="edit-time-entry-{{ time_entry.id }}" 
											id="time-entry-{{ time_entry.id }}">
											
											<!-- Project Color -->
											<div class="project-color" {% if time_entry.project.color %}style=" background-color: {{ time_entry.project.color }}"{% endif %}></div>
											
											<div class="row py-2 w-100 m-0">
												<div class="col-7 d-flex align-items-center ">
													<!-- Name -->
													<span class="time-entry-title mx-2">{{ time_entry.name }}</span>
													<!-- Project -->
													{% if time_entry.project %}
														<span class="project-title">{{ time_entry.project }}</span>
													{% endif %}
												</div>
												
												<!-- Start time and End time -->
												<div class="col-2 text-center ">
													{{ time_entry.start_time|time:"H:i" }} - {{ time_entry.end_time|time:"H:i" }}
												</div>
												
												<!-- Duration -->
												<div class="col-2 text-center ">
													{{ time_entry.duration_formatted }}
												</div>

												<div class="col-1 d-flex gap-3 action-icons justify-content-center">
													
													<!-- Delete Time Entry -->
													<i class="bi bi-trash" onclick="deleteTimeEntry({{ time_entry.id }})"></i>
													
													<!-- Edit Time Entry -->
													<a data-bs-toggle="offcanvas" data-bs-target="#edit-time-entry-{{ time_entry.id }}">
														<i class="bi bi-pencil"></i>
													</a>
													
													<!-- Duplicate Time Entry -->
													<i class="bi bi-copy" onclick="duplicateTimeEntry({{ time_entry.id }})"></i>
												</div>
											</div>
										</div>

										<!-- Edit Time Entry Offcanvas -->
										<div class="offcanvas offcanvas-end" tabindex="-1" id="edit-time-entry-{{ time_entry.id }}">
											<div class="offcanvas-header">
												<h4 class="offcanvas-title text-center">Edit Time Entry</h4>
												<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
											</div>
											<div class="offcanvas-body">
												<form method="post" class="d-flex flex-column gap-2 time-entry-form" data-time-entry-id="{{ time_entry.id }}">
													{% csrf_token %}
													
													<!-- Task select -->
													<div class="row align-items-center px-3">
														<label for="task-{{ time_entry.id }}" class="col-3 p-0">Task: </label>
														<select class="form-select col" id="task-{{ time_entry.id }}" name="task">
															<option value="" {% if not time_entry.task %}disabled selected{% endif %}>No assigned task</option>
															{% for task in tasks %}
																<option 
																	value="{{ task.id }}" 
																	{% if time_entry.task.id == task.id %}selected{% endif %}
																	data-task-name="{{ task.title }}" 
																	data-task-project-id="{{ task.project.id }}"
																>
																	{{ task.title }}
																</option>
															{% endfor %}
														</select>
													</div>

													<!-- name -->
													<div class="row align-items-center px-3">
														<label for="name-{{ time_entry.id }}" class="col-3 p-0">Name: </label>
														<input type="text" name="name" id="name-{{ time_entry.id }}" class="form-control col" placeholder="Name" required maxlength="50" value="{{ time_entry.name }}">
													</div>
													
													<!-- Project -->
													<div class="row align-items-center px-3">
														<label class="col-3 p-0" for="project-{{ time_entry.id }}">Project: </label>
														<select class="form-select col" id="project-{{ time_entry.id }}" name="project">
															<option value="" disabled {% if not time_entry.project %}selected{% endif %}>Select a Project</option>
															{% for project in request.user.all_projects %}
																<option value="{{ project.id }}" {% if time_entry.project.id == project.id %}selected{% endif %}>
																	{{ project.title }}
																</option>
															{% endfor %}
														</select>
													</div>
													
													<!-- Start time -->
													<div class="row align-items-center px-3">
														<label class="col-3 p-0" for="start-time-{{ time_entry.id }}">From: </label>
														<input type="time" class="form-control col" name="start_time" id="start-time-{{ time_entry.id }}" value="{{ time_entry.start_time|time:'H:i' }}">
													</div>
													
													<!-- End time -->
													<div class="row align-items-center px-3">
														<label class="col-3 p-0" for="end-time-{{ time_entry.id }}">To: </label>
														<input type="time" class="form-control col" name="end_time" id="end-time-{{ time_entry.id }}" value="{{ time_entry.end_time|time:'H:i' }}">
													</div>
													
													<!-- Date -->
													<div class="row align-items-center px-3">
														<label class="col-3 p-0" for="date-{{ time_entry.id }}">Date: </label>
														<input type="date" class="form-control col" name="date" id="date-{{ time_entry.id }}" value="{{ time_entry.end_time|date:'Y-m-d' }}">
													</div>
													
													<input type="hidden" name="time_entry_id" value="{{ time_entry.id }}">
													
													<!-- Submit Button -->
													<button type="submit" class="btn btn-primary px-3">Save</button>
												</form>                                
											</div>
										</div>	
									{% endfor %}
								</div>
							{% endwith %}
						{% endwith %}
					{% endif %}
				{% endfor %}		
			</div>
		{% endfor %}
	</div>
{% endblock content %}

{% block scripts %}
{% if running_entry %}
	<script>
		window.runningTimer = {
			startTime: "{{ running_entry.start_time|date:'c' }}",
			taskId: "{{ running_entry.task.id }}",
			name: "{{ running_entry.name|escapejs }}",
			projectId: "{{ running_entry.project.id }}"
		};
	</script>
{% endif %}
<script src="{% static 'js/timetracker.js' %}"></script>
{% endblock scripts %}