{% extends 'base.html' %}
{% load static %}

{% block title %}Timesheet{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/timesheet.css' %}">
{% endblock styles %}

{% block content %}
	<div class="d-flex justify-content-between">
        <h3>Timesheet</h3>
        <h3>Total this week: <span id="total-week">00:00:00</span></h3>
        <div class="btn-group w-25">
            <button class="btn btn-dark w-100 bg-3" id="weekly-date-display">{{ start_date|date:"d/m/y" }} - {{ end_date|date:"d/m/y" }}</button>
            <button class="btn btn-dark bg-3" onclick="previousWeek()"><i class="bi bi-chevron-left"></i></button>
            <button class="btn btn-dark bg-3" onclick="nextWeek()"><i class="bi bi-chevron-right"></i></button>
        </div>  
    </div>

    {% if grouped_entries %}
        <div class="d-flex flex-column mt-4">

            <!-- Table Header -->
            <div class="row py-2 w-100 m-0">
                <div class="col-4">Projects</div>
                {% for date in week_dates %}
                    <div class="col-1 text-center">{{ date|date:"D, M j" }}</div>
                {% endfor %}
                <div class="col-1 text-center">Total</div>
            </div>

            <!-- Table Body --> 
            <div class="d-flex flex-column align-items-center mb-4 w-100">

                <!-- Project List -->
                {% for project, date_dict in grouped_entries.items %}
                    <div class="d-flex w-100 list-item">
                        <div style="background-color: {{ project.color }}; width: 5px"></div>
                        <div class="row py-2 bg-2 project-row w-100 mx-0 align-items-center" 
                            data-project-id="{{ project.id }}"
                            data-bs-toggle="collapse" 
                            data-bs-target="#date-collapse-{{ project.id }}" 
                            id="project-row-{{ project.id }}">
                            <div class="col-4">
                                {{ project.title }}
                            </div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="0">00:00</div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="1">00:00</div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="2">00:00</div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="3">00:00</div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="4">00:00</div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="5">00:00</div>
                            <div class="col-1 text-center" data-project-id="{{ project.id }}" data-day="6">00:00</div>
                            <div class="col-1 text-center project-total" data-project-id="{{ project.id }}">00:00</div>
                        </div>
                    </div>

                    <div class="collapse w-100" id="date-collapse-{{ project.id }}">
                        <div class="d-flex flex-column">
                            <!-- Dates List -->
                            {% for date, time_entries in date_dict.items %}
                                <div class="d-flex w-100 list-item">
                                    <div style="background-color: {{ project.color }}; width: 5px"></div>
                                    <div class="row py-2 bg-3 w-100 align-items-center mx-0 date-row" data-bs-toggle="collapse" data-bs-target="#time-entry-collapse-{{ project.id }}-{{ date|date:'Y-m-d' }}" id="date-row-{{ project.id }}-{{ date|date:'Y-m-d' }}">
                                        <div class="col-2">{{ date|date:"D, M j" }}</div>
                                        <div class="col-9"></div>
                                        <div class="col-1 text-center date-total" data-date="{{ date|date:'Y-m-d' }}" data-project-id="{{ project.id }}">00:00</div>
                                    </div>
                                </div>
                                <div class="collapse w-100" id="time-entry-collapse-{{ project.id }}-{{ date|date:'Y-m-d' }}">
                                    <div class="d-flex flex-column">
                                        <!-- Time Entries -->
                                        {% for time_entry in time_entries %}
                                        <div class="d-flex w-100 list-item">
                                            <div style="background-color: {{ project.color }}; width: 5px"></div>
                                            <div class="row py-2 bg-4 w-100 mx-0 align-items-center time-entry-row" 
                                                data-project-id="{{ project.id }}" 
                                                data-date="{{ date|date:'Y-m-d' }}">
                                                <div class="col-2">{{ time_entry.user.get_full_name }}</div>
                                                <div class="col-7">{{ time_entry.name }}</div>
                                                
                                                {% if user.is_employer %}
                                                    <div class="col-1 text-center">
                                                        <input type="time" class="time-input" name="start_time" id="start-time-{{ time_entry.id }}" value="{{ time_entry.start_time|time:'H:i' }}" data-project-id="{{ project.id }}" data-date="{{ date|date:'Y-m-d' }}" {% if user.is_employee %}disabled{% endif %}>
                                                    </div>
                                                    <div class="col-1 text-center">
                                                        <input type="time" class="time-input" name="end_time" id="end-time-{{ time_entry.id }}" value="{{ time_entry.end_time|time:'H:i' }}" data-project-id="{{ project.id }}" data-date="{{ date|date:'Y-m-d' }}" {% if user.is_employee %}disabled{% endif %}>
                                                    </div>
                                                {% else %}
                                                    <div class="col-1 text-center">
                                                        <div class="time-input" id="start-time-{{ time_entry.id }}" data-project-id="{{ project.id }}" data-date="{{ date|date:'Y-m-d' }}">{{ time_entry.start_time|time:'H:i' }}</div>
                                                    </div>
                                                    <div class="col-1 text-center">
                                                        <div class="time-input" id="end-time-{{ time_entry.id }}" data-project-id="{{ project.id }}" data-date="{{ date|date:'Y-m-d' }}">{{ time_entry.end_time|time:'H:i' }}</div>
                                                    </div>
                                                {% endif %}
                                                
                                                <div class="col-1 text-center entry-duration" id="total-time-{{ time_entry.id }}" data-entry-id="{{ time_entry.id }}" data-project-id="{{ project.id }}" data-date="{{ date|date:'Y-m-d' }}">00:00</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h4 class="text-center text-muted mt-4">No time entries for this week</h4>
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/timesheet.js' %}"></script>
{% endblock scripts %}