.bg-1 {
    background-color: var(--bg-1);
}

.bg-2 {
    background-color: var(--bg-2);
}

.bg-3 {
    background-color: var(--bg-3);
}

.bg-4 {
    background-color: var(--bg-4);
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    background-color: var(--bg-1);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.pointer:hover {
    cursor: pointer;
}

.hover-card:hover {
    background-color: var(--bg-3);
}

.badge {
    color: var(--text-color);
}

.bi-flag, .bi-flag-fill {
    color: orange;
    font-size: 16px;
    margin: 0;
}

.checkmark {
    color: orange;
    font-size: 24px;
}

.action-icons * {
    color: var(--text-color);
}

.action-icons *:hover {
    transform: scale(1.2);
    color: orange;
}

.project-color {
    width: 5px;
}

.task-badge {
    font-size: 12px;
}

#sidebar {
    border-right: 1px solid var(--bg-2);
}

.nav-link:hover {
    background-color: var(--bg-3);
}

#profile-dropdown {
    width: 230px;
    transform: translate(-6px, -30px) !important;
}

#profile-dropdown *:hover {
    background-color: var(--bg-3);
}

.offcanvas {
    background-color: var(--bg-1);
}

.offcanvas-body {
    padding-top: 0;
}

.offcanvas label {
    font-weight: bold;
}

.list-item {
    margin-top: 2px;
}

.list-item:hover {
    transform: scale(1.009);
}

.no-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.form-control:hover, .form-select:hover, .img-sett:hover {
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
    border: 1px solid #007bff !important;
}

@media screen and (min-width: 1200px) {
    #main-content {
        margin-left: 250px
    }
}