.sett-form {
    width: 35em;
    padding: 3em;
}
.img-sett {
    width: 20em;
    height: 20em;
    margin: 1em 8em;
}

.sub-btn button {
    width: 15em;
    margin-top: 2em;
    align-items: center;
    text-align: center;
}

.sub-btn {
    width: 100%;
    text-align: center;
    align-items: center;
}

.img-sett:hover {
    border: 1px solid #9c9c9c65;
}