body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

li {
    list-style-type: none;
}

i {
    z-index: 10;

}

/* page*/
.todolist__page {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;

}

img {
    max-width: 100%;
    height: auto;
}


.todolist__page {
    width: 100;
    height: 100%;
}

.page__inner {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;

}

button{
    z-index: 10;
}


/* ---------------------- header --------------*/


.container {
    width: 100%;
    padding: 0px 15px;
    max-width: 1230px;
    margin: 0 auto;

}

.main__todolist {
    width: 100vw;
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;

    left: 0;
    top: 0;
    right: 0;

}

.header__inner {
    width: 100%;
    padding: 0px 30px;

    right: 10px;
    top: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding-left: 20px;


}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}

.nav {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0px 19px;
    color: #fff;
    text-decoration: none;

    position: relative;

    transition: color .1s linear;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}


/* ---------------------- sidebar--------------*/

.sidebar__todolist {
    width: 25%;
    background-color: #f2efed;
    position: relative;

}

.sidebar__nav {
    margin: 0;
    padding: 0;
    position: relative;



    padding-bottom: 40px;


}

.sidebar__button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    z-index: 10;
    border: none;

}

.sidebar__button:hover {
    opacity: 0.9;
    background-color: #d8d8d8;
    border-radius: 5%;
    transition: background-color .2s linear;

}

.sidebar__avatar {

    width: 50px;
    height: 50px;
    border-radius: 50%;

    padding: 5px 5px;
}

.profile__name {
    font-size: 24px;
    font-weight: 400;

    padding-left: 15px;

    color: #272727;
    text-decoration: none;

}

.sidebar__item {
    overflow: hidden;
    text-decoration: none;

    color: #c1c1c1;

    text-decoration: none;

    z-index: 10;

}

.sidebar__item:active {
    color: #a81f00;
}


.sidebar__item:hover {
    background-color: #d8d8d8;
    border-radius: 5%;
    transition: background-color .2s linear;
}


/* ---------------------- sidebar--------------*/

.add__note {
    color: #a81f00;
    border: none;
    width: 100%;
}

.add__note:hover {

    background-color: #d8d8d8;
    border-radius: 5%;
    transition: background-color .2s linear;
}


.add__note {
    display: flex;
    align-items: center;

}

.add__note__text {
    padding-left: 20px;

}

.my__projects {
    color: #202020;
    font-size: large;
    font-weight: 400;
    text-align: left;
}

.my__projects:hover {
    background-color: #d8d8d8;
    border-radius: 5%;
    transition: background-color .2s linear;
    transition: color .2s linear;
    color: #202020;
}



/* ---------------------- sidebar low (notes)--------------*/

.cur__note {
    border: none;
    background: none;
    padding: 5px 0;
}



/* ---------------------- main project (основной редактор)--------------*/



.project {
    width: 70%;
    align-items: center;

    padding-top: 5vh;
    background-color: #fff;
}

.project__view {
    padding-bottom: 20px;
}

.add__mission {
    display: flex;
    border: none;
    border-radius: 5%;
    align-items: center;
    background-color: #fff;
    font-size: 28px;

}

.add__mission svg {
    width: 30px;
    height: 30px;
}

.add__mission:hover {

    background-color: #d8d8d8;
    border-radius: 5%;
    transition: background-color .2s linear;
    transition: color .2s linear;


}

.project__name {
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}

.add_btn {
    display: flex;
}


.btn.btn-success {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;

    left: 0px;
    border: 2px solid #535353;
    background-color: #fff;
}


.list-group-item {
    position: relative;
    border-bottom: 1px solid #ccc;
    display: flex;
    

    padding-left: 30px;
}

.list-group-item:hover {
    position: relative;
    transform: scale(1.009);

    box-shadow: 2px 2px 5px #c4b6b6;

    transition: transform 0.2s linear;
    transition: box-shadow 0.2s linear;
}



.btn.btn-success:hover::after {
    content: '\2713';
    display: block;
    position: absolute;

    top: 0;
    left: -1px;
    width: 20px;
    height: 20px;

    opacity: 1;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url(static/assets/download.svg);

    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(89deg);
}


.list-group {
    display: flex;
    align-items: center;
}

.btn__orange {
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    align-items: center;
    margin-top: 5px;
    padding: 11px 11px;

    background-color: #eb89081a;
    border: 2px solid #eb8909;
}


.btn__orange .checkmate {
    position: absolute;
    opacity: 0;
    color: #eb8909;

    top: 0;
    right: -2px;
}


.btn__orange:hover .checkmate {
    opacity: 1;
    color: #eb8909;

    transition: opacity 0.2s linear;
}

.plus_add_button_inner {
    max-width: 100px;
	margin: 0 auto;

    margin-top: 10px;
}

.plus_add_button {
    width: 10px;
    height: 10px;
    display: block;
    border: none;
    background-color: transparent;
    position: relative;

}
.close_add_button {

    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    right: -10px;


}

.close_add_button:hover {

    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    right: -10px;

    transform: scale(1.2);
    transition: transform 0.2s linear;


}

.icon_add {
    opacity: 1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -20px;
    top: 0;
}

.plus_add_button_inner:hover .icon_add {
    background-color: #dc4c3e;
    color: #ffffff;
    transition: background-color 1.9s;
    transition: opacity 1.9s;
}


.task_date {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -12px;
}

.task_inner {
    position: relative;
    width: 100%;
    padding-left: 20px;
}

.task_header {
    position: relative;
    display: flex;
}

.task_flag {
    padding-left: 10px;
}


.bi-flag-fill {
    color: #eb8909;
}

.task_text {
    margin-right: 60px;
    text-align: justify;
    overflow-x: hidden
}

.note_path {
    padding-right: 10px;
    display: flex;
    opacity: 0.4;
    font-size: 14px;

}



#content_window {

    z-index: 10;
    height: 100%;
    width: 100%;
    min-width: 800px;
    z-index: 10;

    display: none;

    top: 50%;
    left: 50%;
    /* коррекция положения элемента */

    border: 1px solid rgba(204, 204, 204, 0.774);



}






.icon_close {
    position: absolute;
    top: -10px;
    right: 10px;
    transform: rotate(45deg);
    width: 20px;
    
}


.note-form {
    width: 100%;
    position: relative;
}

#calendarlink0 svg {
    text-decoration: none;
}

.vDateField {
    text-decoration: none;
}

.form-control {
    height: fit-content;
    overflow: hidden;
}

.btn-add-final {
    margin-bottom: 20px;
}

.note-title {
    display: block;

    width: 90%;
    padding-right: 20px;
    margin-right: 20px;
    vertical-align: auto;

    background: none ;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.note-text {
    margin-left: 0;
    padding-left: 0;


}

.field-due_date {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.penis {
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.datalists-chose {
    margin-top: 15px;
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    

}

.datalists-item {
    right: 0;
    width: 25%;
    white-space: nowrap;

    align-items: center;


    
}

.oiloil {

    font-size: 30px;
    font-weight: 700;
}

.datalists-item:last-child {
    right: 0;
    width: 30%;

}

.checkbox_inner {
    padding: 5px 5px;
    margin-left: 10px;
}


.task_flag {
    padding-top: 2px;
    margin-top: 2px;
    position: relative;
}

.task_flag_nofill {
    position: absolute;
}

.task_flag_fill {
    position: absolute;
}



.btn-create-project {
    opacity: 1;
    background-color: #eb8909;
}


.btn-create-project:hover {
    opacity: 1;
    background-color: #eb8909;
    transform: scale(1.09);
    transition: transform 0.2s linear;
}

.project-item {
    background-color: #e9e5e5;
}
.project-item:hover {
    transform: scale(1.01);
    
    background-color: #ccc;

    transition: transform 0.2s linear;
    transition: transform 0.2s linear;

}



.falg-checbox {
    display: none;
}


.form-check-input:checked ~ * .falg-checbox {
    display: block;
    color: #eb8909;
}

#project-form {
    display: none;
}

.project-area{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.header-title {
    text-align: center;
    padding-bottom: 15px;
}




/* ---------------------- setting menu --------------*/

.half-page {
    position: relative;
    display: flex;
    top: 10px;
    flex-direction: column;
    align-items: flex-start;


}

.tool-bar {
    position: absolute;
    top: 50%;
    right: 10px;

    transform:translate(0, -50%);

    
}

.category_item {
    border: 1px solid #bdbdbd;
}

.category_inner {
    
    margin-bottom: 5px;
    padding: 5px;
}

.list-group-item-settings {
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    text-decoration: none;
    

    padding-left: 30px;
}

.list-group-item-settings:hover {
    position: relative;
    transform: scale(1.009);

    box-shadow: 2px 2px 5px #c4b6b6;

    transition: transform 0.2s linear;
    transition: box-shadow 0.2s linear;
}

.category_case{
    color: #e5e5e5;
    width: fit-content;
    background-color: #ff9100;

    
}

.color-selector {
    height: 0;
    width: 0px;
    opacity: 0;
    
    
}
.input-category {
    background: none ;
    border: none;
    outline: none;

    

    color: #000000;

}



.input-category::placeholder {
    color: #000000;
}

.btn-edit:active .input-category {
    pointer-events: auto;
    border: #202020;
    background-color: #fff;
}


.project-window {
    display: none;
    width: 90%;
}

.category-window {
    display: none;
    width: 90%;
}



.color-btn {
    right: 10px;;
    height: 50px;
}


.category-window .close_add_button {

    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    right: -50px;


}

.close_form_btn {
    position: absolute;
    top: 15px;
    right: 10px;
}

.category-decription {
    color: #000000;
}

.area-text {
    background: none ;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.description::placeholder {
    color: #ccc;
    opacity: 0.8;
}

.description:hover {
    background-color: #fafafa;

    transition: background-color .2s;
}

.edit-btn {
    border: none;
    background-color: white;
}



.edit-ico:hover::before {
    content: "✎";
    position: absolute;
    right: 0;
    left: -25px;
    color: #292727;


    width: 24px;
    height: 24px;
    border-radius: 5px;

    border: 1px solid black;
    font-stretch: normal;


    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;

    
}

.category-description {
    position: relative;
}

.category_title {
    position: relative;
}

.task-text-box {
    position: relative;
    border: none;
    outline: none;
    background-color: inherit;
    overflow: hidden;

}

.note-header-title {
    width: 100%;
    display: flex;
}

.input-title {

    width: 100%;

    border: none;
    outline: none;
    background-color: inherit;

    white-space: nowrap;
    resize: none;
    overflow: hidden;
}

.input-text {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.edit-ico-textarea:hover::before {
    content: "✎";
    position: absolute;
    right: 0;
    left: -5px;
    color: #292727;


    width: 24px;
    height: 24px;
    border-radius: 5px;

    border: 1px solid black;
    font-stretch: normal;


    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;

    

    
}





/* ---------------------- adaptating --------------*/
@media (min-width: 720px) {
    .datalists-item {
        right: 0;
        width: 50%;
        white-space: nowrap;
        flex-wrap: wrap;
    
        align-items: center;
    
    
        
    }
    
}