body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

li {
    list-style-type: none;
}
i {
    z-index: 10;

}
 /* page*/
.todolist__page {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;

}

img {
    max-width: 100%;
    height: auto;
}


.todolist__page {
    width: 100;
    height: 100%;
}

.page__inner {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;

}


/* ---------------------- header --------------*/


.container{
    width: 100%;
    padding: 0px 15px;
    max-width: 1230px;
    margin: 0 auto;

}

.main__todolist {
    width: 100vw;
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;

    left: 0;
    top: 0;
    right: 0;

}

.header__inner {
    width: 100%;
    padding: 0px 30px;

    right: 10px;
    top: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding-left: 20px;


}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}

.nav {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0px 19px;
    color: #fff;
    text-decoration: none;

    position: relative;

    transition: color .1s linear;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}


/* ---------------------- sidebar--------------*/

.sidebar__todolist {
    width: 25%;
    background-color: #f2efed;
    position: relative;

}

.sidebar__nav {
    margin: 0;
    padding: 0;
    position: relative;



    padding-bottom: 40px;


}
.sidebar__button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    z-index: 10;
    border: none;
 
}

.sidebar__button:hover {
    opacity: 0.9;
    background-color: #d8d8d8;
    border-radius: 5%;
    transition:  background-color .2s linear;
 
}

.sidebar__avatar {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;

    padding: 5px 5px;
}

.profile__name {
    font-size: 24px;
    font-weight: 400;

    padding-left: 15px;

    color: #272727;
    text-decoration: none;
    
}

.sidebar__item{
    overflow: hidden;
    text-decoration: none;

    color: #c1c1c1;

    text-decoration: none;

    z-index: 10;

}

.sidebar__item:active{
    color: #a81f00;
}


.sidebar__item:hover {
    background-color: #d8d8d8;
    border-radius: 5%;
    transition:  background-color .2s linear;
}


/* ---------------------- sidebar--------------*/

.add__note {
    color: #a81f00;
    border: none;
    width: 100%;
}

.add__note:hover{

    background-color: #d8d8d8;
    border-radius: 5%;
    transition:  background-color .2s linear;
}


.add__note {
    display: flex;
    align-items: center;

}

.add__note__text{
    padding-left: 20px;

}

.my__projects {
    color: #202020;
    font-size: large;
    font-weight: 400;
    text-align: left;
}
.my__projects:hover{
    background-color: #d8d8d8;
    border-radius: 5%;
    transition:  background-color .2s linear;
    transition:  color .2s linear;
    color: #202020;
}



/* ---------------------- sidebar low (notes)--------------*/

.cur__note {
    border: none;
    background: none;
    padding: 5px 0;
}



/* ---------------------- main project (основной редактор)--------------*/



.project {
    width: 70%;
    align-items: center;

    padding-top: 5vh;
    background-color: #fff;
}

.project__view {
    padding-bottom: 20px;
}

.add__mission {
    display: flex;
    border: none;
    border-radius: 5%;
    align-items: center;
    background-color: #fff;
    font-size: 28px;
    
}

.add__mission svg{
    width: 30px;
    height: 30px;
}

.add__mission:hover {

    background-color: #d8d8d8;
    border-radius: 5%;
    transition:  background-color .2s linear;
    transition:  color .2s linear;

    
}

.project__name{
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}

.add_btn {
    display: flex;
}


.btn.btn-success {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;

    left: 0px;
    border: 2px solid #535353;
    background-color: #fff;
}


.list-group-item {
    position: relative;
    border-bottom: 1px solid #ccc;
    display: flex;

    padding-left: 30px;
}

.list-group-item:hover {
    position: relative;
}



.btn.btn-success:hover::after {
    content: '\2713';
    display: block;
    position: absolute;

    top: 0;
    left: -1px;
    width: 20px;
    height: 20px;

    opacity: 1;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url(assets/download.svg);

    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(89deg);
}


.list-group {
    display: flex;
    align-items: center;
}

.btn__orange {
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    align-items: center;
    margin-top: 5px;
    padding: 11px 11px;

    background-color: #eb89081a;
    border: 2px solid #eb8909;
}


.btn__orange .checkmate{
    position: absolute;
    opacity: 0;
    color: #eb8909;

    top: 0;
    right: -2px;
}


.btn__orange:hover .checkmate{
    opacity: 1;
    color: #eb8909;

    transition: opacity 0.2s linear;
}


.plus_add_button_inner {
    display: block;
    padding-top: 10px;
}
.plus_add_button {

    border: none;
    background-color: transparent;
    position: relative;
}

.icon_add {
    opacity: 1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -20px;
    top: 0;
}
.plus_add_button_inner:hover .icon_add{
    background-color: #dc4c3e;
    color: #ffffff;
    transition: background-color 1.9s;
    transition: opacity 1.9s;
}


.task_date {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -12px;
}

.task_inner {
    position: relative;
    width: 100%;
}

.task_header {
    position: relative;
    display: flex;
}

.task_flag {
    padding-left: 10px;
}


.bi-flag-fill {
    color: #eb8909;
}

.task_text {
    margin-right: 60px;
    text-align: justify;
    overflow-x:hidden

}

.note_path {
    padding-right: 10px;
    display: flex;
    opacity: 0.4;
    font-size: 14px;
    
}

#btn_add{
    top: 50vh;
    left: 50vw;
    z-index:1;
}
#content_window{
    
    z-index: 10;
    height:100%;
    width: 100%;
    min-width: 800px;
    z-index:10;
    background:lightgrey;
    display:none;

    top: 50%;
    left: 50%;
    /* коррекция положения элемента */
    

    border: 3px solid #eb8909;
   }


.plus_add_button {
    width: 20px;
    height: 10px;
}
.close_form_btn {
    position:absolute;
    width: 20px;
    height: 10px;
    right: 0;
    top: 0 ;
}

.icon_close {
    transform: rotate(45deg);
    
    background-color: #eb8909;
}


.note-form {
    width: 90%;
}

#calendarlink0 svg{
    text-decoration: none;
}
.vDateField {
    text-decoration: none;
}

.form-control {
    height: fit-content;
    overflow: hidden;
}