#timer-button {
    color: white;
    background-color: #006aff;
}

.time-entry {
    background-color: var(--bg-3);
    margin-top: 2px;
}

.time-entry:hover, .grouper:hover {
    transform: scale(1.009);
    transition: transform 0.1s linear;
}

.time-entry-header {
    display: flex;
    font-weight: bold;
    justify-content: center;
    background-color: var(--bg-1);
    padding-left: 5px;
}

.time-entry-title {
    font-weight: bold;
}

.project-title {
    font-size: smaller;
}

.grouper {
    background-color: var(--bg-2);
    margin-top: 2px;
}
