{% extends 'base.html' %}
{% load static %}

{% block title %}To do list{% endblock title %}

{% block styles %}{% endblock styles %}

{% block content %}
	<div class="row">
		<!-- Left half -->
		<div class="col-7">
			<!-- My projects -->
			<h2 class="mb-2 d-flex align-items-center justify-content-center">
				Personal projects

				<!-- Project Creation Button -->
				<button class="ms-3 btn btn-primary rounded-3 shadow-lg d-flex justify-content-center align-items-center"
					style="width: 30px; height: 30px;"
					data-bs-toggle="offcanvas" 
					data-bs-target="#projectCreationOffcanvas">
					<i class="bi bi-plus-lg" style="font-size: 20px; font-weight: bold;"></i>
				</button>
			</h2>
			
			<!-- Project Creation Offcanvas -->
			<div class="offcanvas offcanvas-end" tabindex="-1" id="projectCreationOffcanvas">
				<div class="offcanvas-header">
					<h4 class="offcanvas-title text-center">Create Project</h4>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<form method="post" class="d-flex flex-column gap-2" id="create-project-form">
						{% csrf_token %}
						<!-- Title -->
						<input type="text" name="title" class="form-control" placeholder="Project title" required maxlength="50" value="{{ project.title|default_if_none:'' }}">

						<!-- Client -->
						<input type="text" name="client" class="form-control" placeholder="Client" maxlength="50" value="{{ project.client|default_if_none:'' }}">

						<!-- Description -->
						<textarea name="description" class="form-control" rows="4" placeholder="Project description">{{ project.description|default_if_none:"" }}</textarea>

						<!-- Status -->
						<div class="d-flex align-items-center gap-2">
							<label for="id_status">Status: </label>
							<select class="form-select" name="status" id="id_status">
								<option value="active" {% if project.status == 'active' %}selected{% endif %}>Active</option>
								<option value="archived" {% if project.status == 'archived' %}selected{% endif %}>Archived</option>
								<option value="completed" {% if project.status == 'completed' %}selected{% endif %}>Completed</option>
							</select>
						</div>

						<!-- Color -->
						<div class="d-flex align-items-center gap-2">
							<label for="id_color">Color:</label>
							<input type="color" name="color" id="id_color" class="form-control form-control-color w-100" value="{{ project.color|default:'#FFFF00' }}">
						</div>

						<!-- Submit Button -->
						<button type="submit" class="btn btn-primary">Save</button>
					</form>                                 
				</div>
			</div>

			<!-- Project list -->
			{% if request.user.personal_projects %}
				<div class="d-flex flex-column mb-5">
					<!-- Table Header -->
					<div class="p-0 w-100 d-flex">
						<div style="width: 5px;"></div>
						<div class="row m-0 py-2 w-100">
							<div class="col">Project Name</div>
							<div class="col text-center">Client</div>
							<div class="col text-center">Tracked</div>
							<div class="col text-center">Status</div>
							<div class="col text-center">Actions</div>
						</div>
					</div>

					{% for project in request.user.personal_projects.all %}
						<!-- Project -->
						<div 
							class="list-item d-flex w-100 bg-2" 
							id="project-{{ project.id }}"
							data-bs-toggle="collapse"
							data-bs-target="#project-collapse-{{ project.id }}"
						>
							<!-- Project Color -->
							<div style="width: 5px; background-color: {{ project.color }}"></div>
							<div class="d-flex flex-column w-100">
								<div class="row m-0 py-2">
									<div class="col">{{ project.title }}</div>
									<div class="col text-center">{% if project.client %}{{ project.client }}{% else %}N/A{% endif %}</div>
									<div class="col text-center">{{ project.total_tracked_time }}</div>
									<div class="col text-center">{{ project.status }}</div>
		
									<!-- Action icons -->
									<div class="col d-flex gap-3 action-icons justify-content-center">
										
										<!-- Info Button -->
										<i class="bi bi-info-circle"></i>
										
										<!-- Edit Project Button -->
										<a data-bs-toggle="offcanvas" data-bs-target="#edit-project-{{ project.id }}">
											<i class="bi bi-pencil" data-bs-toggle="tooltip" title="Edit"></i>
										</a>
										
										<!-- Delete Project Button -->
										<a data-bs-toggle="modal" data-bs-target="#delete-project-modal-{{ project.id }}">
											<i class="bi bi-trash" data-bs-toggle="tooltip" title="Delete"></i>
										</a>
									</div>
								</div>
								{% if project.description %}
									<div class="bg-2 collapse" id="project-collapse-{{ project.id }}">
										<p class="m-0 px-3 pb-2">{{ project.description }}</p>
									</div>
								{% endif %}
							</div>
						</div>
						
						<!-- Delete Project Modal -->
						<div class="modal fade" id="delete-project-modal-{{ project.id }}" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content bg-1">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete {{ project.title }} project?</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
										<button type="button" class="btn btn-danger" onclick="deleteProject({{ project.id }})">Delete</button>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Edit Project Offcanvas -->
						<div class="offcanvas offcanvas-end" tabindex="-1" id="edit-project-{{ project.id }}">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasRightLabel">Edit Project: {{ project.title }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<form method="post" class="d-flex flex-column gap-2 edit-project-form" data-id="{{ project.id }}">
									{% csrf_token %}
									<!-- Title -->
									<input type="text" name="title" class="form-control" placeholder="Project title" required maxlength="50" value="{{ project.title|default_if_none:'' }}">

									<!-- Client -->
									<input type="text" name="client" class="form-control" placeholder="Client" maxlength="50" value="{{ project.client|default_if_none:'' }}">

									<!-- Description -->
									<textarea name="description" class="form-control" rows="4" placeholder="Project description">{{ project.description|default_if_none:"" }}</textarea>

									<!-- Status -->
									<div class="d-flex align-items-center gap-2">
										<label for="id_status">Status: </label>
										<select class="form-select" name="status" id="id_status">
											<option value="active" {% if project.status == 'active' %}selected{% endif %}>Active</option>
											<option value="archived" {% if project.status == 'archived' %}selected{% endif %}>Archived</option>
											<option value="completed" {% if project.status == 'completed' %}selected{% endif %}>Completed</option>
										</select>
									</div>

									<!-- Color -->
									<div class="d-flex align-items-center gap-2">
										<label for="id_color">Color:</label>
										<input type="color" name="color" id="id_color" class="form-control form-control-color w-100" value="{{ project.color|default:'#FFFF00' }}">
									</div>

									<!-- Submit Button -->
									<button type="submit" class="btn btn-primary">Save</button>
								</form>                                
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<h5 class="mb-2 text-center">No projects yet</h3>
			{% endif %}

			<!-- Company projects -->
			{% if request.user.company_projects %}
				<h3 class="mb-2 text-center">Company projects</h3>

				<!-- Project list -->
				<div class="d-flex flex-column">

					<!-- Table Header -->
					<div class="p-0 w-100 d-flex">
						<div style="width: 5px;"></div>
						<div class="row m-0 py-2 w-100">
							<div class="col">Project Name</div>
							<div class="col text-center">Client</div>
							<div class="col text-center">Tracked</div>
							<div class="col text-center">Status</div>
							<div class="col text-center">Actions</div>
						</div>
					</div>

					{% for project in request.user.company_projects.all %}
						<!-- Project -->
						<div 
							class="list-item d-flex w-100 bg-2" 
							id="project-{{ project.id }}"
							data-bs-toggle="collapse"
							data-bs-target="#project-collapse-{{ project.id }}"
						>
							<!-- Project Color -->
							<div style="width: 5px; background-color: {{ project.color }}"></div>
							<div class="d-flex flex-column w-100">
								<div class="row m-0 py-2">
									<div class="col">{{ project.title }}</div>
									<div class="col text-center">{% if project.client %}{{ project.client }}{% else %}N/A{% endif %}</div>
									<div class="col text-center">{{ project.total_tracked_time }}</div>
									<div class="col text-center">{{ project.status }}</div>
		
									<!-- Action icons -->
									<div class="col d-flex gap-3 action-icons justify-content-center">
										
										<!-- Info Button -->
										<i class="bi bi-info-circle"></i>
									</div>
								</div>
								{% if project.description %}
									<div class="bg-2 collapse" id="project-collapse-{{ project.id }}">
										<p class="m-0 px-3 pb-2">{{ project.description }}</p>
									</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<!-- Right half -->
		<div class="col-5">
			<!-- My Categories -->
			<h2 class="mb-2 d-flex align-items-center justify-content-center">
				My categories

				<!-- Category Creation Button -->
				<button class="ms-3 btn btn-primary rounded-3 shadow-lg d-flex justify-content-center align-items-center"
					style="width: 30px; height: 30px;"
					data-bs-toggle="offcanvas" 
					data-bs-target="#categoryCreationOffcanvas">
					<i class="bi bi-plus-lg" style="font-size: 20px; font-weight: bold;"></i>
				</button>
			</h2>

			<!-- Category Creation Offcanvas -->
			<div class="offcanvas offcanvas-end" tabindex="-1" id="categoryCreationOffcanvas">
				<div class="offcanvas-header">
					<h4 class="offcanvas-title text-center">Create Category</h4>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<form method="post" class="d-flex flex-column gap-2" id="create-category-form">
						{% csrf_token %}
						<!-- Title -->
						<input type="text" name="title" class="form-control" placeholder="Category title" required maxlength="50" value="{{ category.title|default_if_none:'' }}">

						<!-- Description -->
						<textarea name="description" class="form-control" rows="4" placeholder="Category description">{{ category.description|default_if_none:"" }}</textarea>

						<!-- Color -->
						<div class="d-flex align-items-center gap-2">
							<label for="id_color">Color:</label>
							<input type="color" name="color" id="id_color" class="form-control form-control-color w-100" value="{{ category.color|default:'#FFFF00' }}">
						</div>

						<!-- Submit Button -->
						<button type="submit" class="btn btn-primary">Save</button>
					</form>                                  
				</div>
			</div>

			<!-- Category list -->
			<div class="d-flex flex-column">

				<!-- Table Header -->
				<div class="p-0 w-100 d-flex">
					<div style="width: 5px;"></div>
					<div class="row m-0 py-2 w-100">
						<div class="col-8">Category Name</div>
						<div class="col-4 text-center">Actions</div>
					</div>
				</div>

				{% for category in request.user.categories.all %}
					<!-- Category -->
					<div 
						class="list-item d-flex w-100 bg-2" 
						id="category-{{ category.id }}"
						data-bs-toggle="collapse"
						data-bs-target="#category-collapse-{{ category.id }}"
					>
						<!-- Project Color -->
						<div style="width: 5px; background-color: {{ category.color }}"></div>
						<div class="d-flex flex-column w-100">
							<div class="row m-0 py-2">
								<div class="col-8">{{ category.title }}</div>
	
								<!-- Action icons -->
								<div class="col-4 d-flex gap-3 action-icons justify-content-center">
									
									<!-- Info Button -->
									<i class="bi bi-info-circle"></i>
									
									<!-- Edit Project Button -->
									<a data-bs-toggle="offcanvas" data-bs-target="#edit-category-{{ category.id }}">
										<i class="bi bi-pencil" data-bs-toggle="tooltip" title="Edit"></i>
									</a>
									
									<!-- Delete Project Button -->
									<a data-bs-toggle="modal" data-bs-target="#delete-category-modal-{{ category.id }}">
										<i class="bi bi-trash" data-bs-toggle="tooltip" title="Delete"></i>
									</a>
								</div>
							</div>
							{% if category.description %}
								<div class="bg-2 collapse" id="category-collapse-{{ category.id }}">
									<p class="m-0 px-3 pb-2">{{ category.description }}</p>
								</div>
							{% endif %}
						</div>
					</div>

					<!-- Delete Category Modal -->
					<div class="modal fade" id="delete-category-modal-{{ category.id }}" tabindex="-1" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content bg-1">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete {{ category.title }} category?</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-danger" onclick="deleteCategory({{ category.id }})">Delete</button>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Edit Category Offcanvas -->
					<div class="offcanvas offcanvas-end" tabindex="-1" id="edit-category-{{ category.id }}">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasRightLabel">Edit Category: {{ category.title }}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<form method="post" class="d-flex flex-column gap-2 edit-category-form" data-id="{{ category.id }}">
								{% csrf_token %}
								<!-- Title -->
								<input type="text" name="title" class="form-control" placeholder="Category title" required maxlength="50" value="{{ category.title|default_if_none:'' }}">

								<!-- Description -->
								<textarea name="description" class="form-control" rows="4" placeholder="Category description">{{ category.description|default_if_none:"" }}</textarea>

								<!-- Color -->
								<div class="d-flex align-items-center gap-2">
									<label for="id_color">Color:</label>
									<input type="color" name="color" id="id_color" class="form-control form-control-color w-100" value="{{ category.color|default:'#FFFF00' }}">
								</div>

								<!-- Submit Button -->
								<button type="submit" class="btn btn-primary">Save</button>
							</form>                                
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'js/project.js' %}"></script>
	<script src="{% static 'js/category.js' %}"></script>
{% endblock scripts %}