{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}To do list{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block content %}
	<div class="main__todolist">
		<header class="header">
			<div class="container">
				<div class="d-flex flex-column flex-md-row p-3 gap-4 align-items-center justify-content-center">
					<div class="list-group pb-15 w-100">

						<!-- Filter Buttons -->
						{% include 'main/filters.html' %}  

						<!-- Page Title -->
						<h1 class="note">
							{% if request.GET.filter == 'today' %}Today
							{% elif request.GET.filter == 'tomorrow' %}Tomorrow
							{% elif request.GET.filter == 'this_week' %}This week
							{% elif request.GET.filter == 'next_week' %}Next week
							{% else %}All{% endif %} 
							{% if request.GET.completed == 'false' %} pending {% endif %} 
							tasks
						</h1>
						
						{% regroup tasks by due_date as tasks_by_date %}
						{% for task_group in tasks_by_date %}
							<h5 class="my-3">
								{{ task_group.grouper|date:"l, d.m" }}
							</h5>

							<!-- Tasks -->
							{% for task in task_group.list %}
								<a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
									<button class="btn__orange rounded-circle" id="btn-delete-note" data-task-id="{{ task.id }}" onclick="completeNote(this)">
										<div class="orange__circle"></div>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="checkmate">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M16.5056 9.00958C16.2128 8.71668 15.7379 8.71668 15.445 9.00958L10.6715 13.7831L8.72649 11.8381C8.43359 11.5452 7.95872 11.5452 7.66583 11.8381C7.37294 12.1309 7.37293 12.6058 7.66583 12.8987L10.1407 15.3736C10.297 15.5299 10.5051 15.6028 10.7097 15.5923C10.8889 15.5833 11.0655 15.5104 11.2023 15.3735L16.5056 10.0702C16.7985 9.77735 16.7985 9.30247 16.5056 9.00958Z" fill="currentColor"></path>
										</svg>
									</button>
									<div class="d-flex gap-2 w-100 justify-content-between">
										<div class="task_inner">
											<div class="task_header">
												<div class="note-header-title edit-ico">

													<!-- Title -->
													<h6 class="mb-0 me-1">
														<div class="edit-ico">
															<textarea 
																class="input-title {% if task.is_completed %}text-decoration-line-through{% endif %}" 
																type="text" 
																tabindex="-1"
																maxlength="100"
																onclick="this.contentEditable='true';" 
																onkeydown="this.style.width = ((this.value.length + 1) * 8) + 'px';">{{ task.title }}</textarea>
														</div>
													</h6>

													<!-- Categories -->
													<h6  class="categories-inner px-1">
														<article class="categories-list">
														{% if task.categories.all %} 
															{% for category in task.categories.all %} 
																<span class="badge change-text-color shadow-sm" style="font-size: 11px;border: 1px solid #ccc; background-color: {{ category.color }};"> 
																	{{category.title }} 
																</span>
																<input 
																	class="input-title badge change-text-color" 
																	style="font-size: 11px; background-color: {{ category.color }};" 
																	type="text" 
																	tabindex="-1" 
																	placeholder="{{ category.title }}" 
																	onclick="this.contentEditable="true";"> 
															{% endfor %}
														{% endif %} 
														</article>
														<div class="plus-inner">
															<button class="plus"></button>
									
															<form class="add-category-form">
																<select class="form-select form-add-category-form " multiple  style="outline: none; height: 100%;">
				
																	{% for category in categories.all %}
																	<option class="form-add-category-item px-2 py-1">{{category.title }} </option>
																	{% endfor %}


																</select>

															</form>
														</div>
													</h6>

													<!-- High priority flag -->
													<div class="task_flag mt-0" style="position: relative; top: -4px;">
														{% if task.is_high_priority %}
															<i class="bi bi-flag-fill"></i>
														{% else %}
															<i class="bi bi-flag"></i>
														{% endif %}
													</div>
												</div>
											</div>

											<!-- Description -->
											<div class="task_text p-2">
												<div class="edit-ico-textarea" contenteditable = 'true'>
													<textarea 
														class="input-text task-text-box mb-0 opacity-100 {% if task.is_completed %}text-decoration-line-through{% endif %}" 
														id="elastic"
														type="text" 
														contenteditable = 'true'
														tabindex="-1" 
														onclick="this.contentEditable='true';">{{task.text}}</textarea>
												</div>
											</div>

									<!-- Due date -->
									<div class="task_date">
										<div class="note_path">{% if task.project %} {{ task.project }} {% endif %}</div>
										<div class="endDateLabel">{{ task.due_date|date:"y.m.d" }}</div>
									</div>

										</div>
									</div>
								</a>
							{% endfor %}
						{% endfor %}



						<!-- Task creation form -->
						<div class="mt-3" id="content_window">
							<div class="list-group">
								<form class="note-form" method="POST" action="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}">
									{% csrf_token %}
									<div class="container">
										<div class="d-flex">
											<!-- Note Title -->
											<div class="note_title w-100">
												<input 
													class="form-control form-control-sm my-2 note-title {% if form.title.errors %}is-invalid{% endif %}" 
													type="text" 
													name="{{ form.title.name }}" 
													value="{{ form.title.value|default:'' }}" 
													placeholder="Note Title" 
													aria-label=".form-control-sm">
												<div class="invalid-feedback">{{ form.title.errors }}</div>
											</div>
											<!-- Close button -->
											<div class="close_form_btn">
												<div id="btn_add" onclick="closeWindow()">
													<button type="button" aria-``idden="false" data-supports-active-task="true" class="close_add_button">
														<span class="icon_cl~ose" aria-hidden="true">
															<svg width="13" height="13">
																<path fill="currentColor" fill-rule="evenodd" d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z"></path>
															</svg>
														</span>
													</button>
												</div>
											</div>
										</div>
										<div class="d-flex">
											<div class="w-100">
												<!-- Note Text -->
												<div class="mb-1">
													<textarea 
														class="form-control {% if form.text.errors %}is-invalid{% endif %}" 
														name="{{ form.text.name }}"
														placeholder="Note Text" 
														rows="3">{{ form.text.value|default:'' }}</textarea>
												</div>
												<!-- Project selector -->
												<div class="datalists-chose">
													<div class="datalists-item">
														<div class="projects-datalist d-flex">
															<select class="form-control" name="{{ form.project.name }}">
																<option value="">Select a project</option>
																{% for project in projects %}
																	<option value="{{ project.id }}" {% if form.project.value == project.id %}selected{% endif %}>{{ project.title }}</option>
																{% endfor %}
															</select>
														</div>
													</div>
													<!-- High priority flag -->
													<div class="datalists-item w-20">
														<div class="form-check text-start d-flex w-50">
															<div class="checkbox_inner py-2">
																<input 
																	class="form-check-input" 
																	type="checkbox" 
																	name="{{ form.is_high_priority.name }}" 
																	id="{{ form.is_high_priority.id_for_label }}" 
																	{% if form.is_high_priority.value %}checked{% endif %} 
																	onclick="SwitchFlag()">
																<label class="form-check-label d-flex" for="{{ form.is_high_priority.id_for_label }}">
																	Is High Priority
																	<i class="bi bi-flag-fill falg-checbox px-2"></i>
																</label>
															</div>
														</div>
													</div>
													<!-- Calendar or Date select-->
													<div class="datalists-item">
														<div class="field-due_date date-menu">
															<div>
																<div id="start">
																	<input 
																		class="form-control {% if form.due_date.errors %}is-invalid{% endif %}" 
																		type="date" 
																		name="{{ form.due_date.name }}" 
																		value="{{ form.due_date.value }}">
																	<div class="invalid-feedback">{{ form.due_date.errors }}</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- Category selector -->
											<div class="datalists-item ps-3" style="max-width: 200px;">
												<div class="categories-datalist d-flex flex-column ps-3" style="overflow-y: auto; max-height: 144px; direction: rtl; text-align: left;">
													{% for category in categories %}
														<div>
															<label class="form-check-label">{{ category.title }}</label>
															<input 
																class="form-check-input" 
																type="checkbox" 
																name="{{ form.categories.name }}" 
																value="{{ category.id }}" 
																{% if category.id in form.categories.value %}checked{% endif %}>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
										<!-- Add note (submit) button -->
										<button class="btn btn-warning w-100 py-2 btn-add-final opacity-75" type="submit">Add note</button>
									</div>
								</form>
							</div>
						</div>

						<!-- Add note button -->
						<div class="plus_add_button_inner">
							<div id="btn_add" onclick="showWindow()">
								<button type="button" aria-hidden="false" data-supports-active-task="true" class="plus_add_button">
									<span class="icon_add" aria-hidden="true">
										<svg width="13" height="13">
											<path fill="currentColor" fill-rule="evenodd" d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z"></path>
										</svg>
									</span>
									<div class="penis">Add note</div>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</header>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}