<div class="offcanvas offcanvas-end" tabindex="-1" id="edit-task-{{ task.id }}">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-center">Edit Task</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" class="d-flex flex-column gap-2 edit-task-form" data-id="{{ task.id }}">
            {% csrf_token %}
            
            <!-- Title -->
            <div class="d-flex flex-column align-items-center">
                <label for="id_title">Title</label>
                <input type="text" name="title" id="id_title" class="form-control" placeholder="Title" required maxlength="200" value="{{ task.title }}">
            </div>

            <!-- Description -->
            <div class="d-flex flex-column align-items-center">
                <label for="id_text">Description</label>
                <textarea name="text" id="id_text" class="form-control no-scrollbar" placeholder="Description" rows="5">{{ task.text }}</textarea>
            </div>
            
            <!-- Project -->
            <div class="d-flex flex-column align-items-center">
                <label for="id_project">Project</label>
                <select class="form-select" id="id_project" name="project">
                    <option value="" {% if not task.project %}selected{% endif %}>Select a project</option>
                    {% for project in user.all_projects %}
                        <option value="{{ project.id }}" 
                            {% if task.project and project.id == task.project.id %}selected{% endif %}>
                            {{ project.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Categories -->
            <div class="d-flex flex-column">
                <span class="text-center fw-bold">Categories</span>
                <div class="d-flex flex-column">
                    {% for category in user.categories.all %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="categories"
                                id="category-{{ category.id }}"  
                                value="{{ category.id }}"
                                {% if category in task.categories.all %}checked{% endif %}>
                            <label class="form-check-label" style="white-space: nowrap;" for="category-{{ category.id }}">
                                {{ category.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Due Date -->
            <div class="d-flex flex-column align-items-center">
                <label for="id_due_date">Due Date</label>
                <input type="date" class="form-control" name="due_date" id="id_due_date" value="{{ task.due_date|date:'Y-m-d' }}" required>
            </div>

            <!-- High Priority checkbox -->
            <div class="d-flex justify-content-center gap-2">
                <input 
                    class="form-check-input" 
                    type="checkbox"
                    name="is_high_priority" 
                    id="id_is_high_priority" 
                    {% if task.is_high_priority %}
                        checked
                    {% endif %}>	
                <label class="form-check-label d-flex" for="id_is_high_priority" style="white-space: nowrap;">
                    High Priority
                </label>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary px-3">Save</button>
        </form>                                
    </div>
</div>