<div class="offcanvas offcanvas-end" tabindex="-1" id="edit-task-{{ task.id }}">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title text-center">Edit Task</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <form method="post" class="d-flex flex-column gap-2 time-entry-form">
            {% csrf_token %}
            
            <!-- Title -->
            <div class="d-flex flex-column align-items-center">
                <label for="{{ form.title.id_for_label }}">Title</label>
                <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-control" placeholder="Title" required maxlength="200" value="{{ task.title }}">
            </div>

            <!-- Description -->
            <div class="d-flex flex-column align-items-center">
                <label for="{{ form.text.id_for_label }}">Description</label>
                <textarea name="{{ form.text.name }}" id="{{ form.text.id_for_label }}" class="form-control no-scrollbar" placeholder="Description" rows="5">{{ task.text }}</textarea>
            </div>
            
            <!-- Project -->
            <div class="d-flex flex-column align-items-center">
                <label for="{{ form.project.id_for_label }}">Project</label>
                <select class="form-select" id="{{ form.project.id_for_label }}" name="{{ form.project.name }}">
                    <option value="" {% if not task.project %}selected{% endif %}>Select a project</option>
                    {% for project in request.user.all_projects %}
                        <option value="{{ project.id }}" 
                            {% if task.project and project.id == task.project.id or form.project.value == project.id %}selected{% endif %}>
                            {{ project.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Categories -->
            <div class="d-flex flex-column">
                <label class="text-center" for="{{ form.categories.id_for_label }}">Categories</label>
                <div class="d-flex flex-column">
                    {% for category in request.user.categories.all %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                name="{{ form.categories.name }}"
                                id="{{ form.categories.id_for_label }}"  
                                value="{{ category.id }}"
                                {% if category in task.categories.all %}checked{% endif %}>
                            <label class="form-check-label" style="white-space: nowrap;" for="{{ form.categories.id_for_label }}">
                                {{ category.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Due Date -->
            <div class="d-flex flex-column align-items-center">
                <label for="{{ form.due_date.id_for_label }}">Due Date</label>
                <input type="date" class="form-control" name="{{ form.due_date.name }}" id="{{ form.due_date.id_for_label }}" value="{{ task.due_date|date:'Y-m-d' }}">
            </div>

            <!-- High Priority checkbox -->
            <div class="d-flex justify-content-center gap-2">
                <input 
                    class="form-check-input" 
                    type="checkbox"
                    name="{{ form.is_high_priority.name }}" 
                    id="{{ form.is_high_priority.id_for_label }}" 
                    {% if task.is_high_priority %}
                        checked
                    {% endif %}>	
                <label class="form-check-label d-flex" for="{{ form.is_high_priority.id_for_label }}" style="white-space: nowrap;">
                    Is High Priority
                </label>
            </div>

            <input type="hidden" name="task_id" value="{{ task.id }}">
            <input type="hidden" name="form_type" value="edit_task">

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary px-3">Save</button>
        </form>                                
    </div>
</div>