<div 
    class="list-item w-100 p-0 task" 
    id="task-{{ task.id }}" 
    data-category-ids="{% for category in task.categories.all %}{{ category.id }}{% if not forloop.last %},{% endif %}{% endfor %}"
    data-is-high-priority="{{ task.is_high_priority }}"
    style="display: flex;">

    <!-- Project Color -->
    <div class="project-color" style="{% if task.project.color %} background-color: {{ task.project.color }}{% endif %}"></div>

    <!-- Task content -->
    <div class="d-flex flex-column w-100 pt-2 px-1 px-sm-3 gap-2 position-relative">

        <!-- Edit icon -->
        <i 
            class="bi bi-pencil-square edit-icon ms-auto pointer" 
            data-close-id="task-{{ task.id }}" 
            data-open-id="edit-task-{{ task.id }}"
            onclick="openCloseWindows(this)">
        </i>

        <!-- Top part -->
        <div class="d-flex flex-wrap align-items-center gap-1 gap-sm-2">

            <!-- Checkmark and Title -->
            <div class="task-top gap-sm-2">

                <!-- Checkmark and Status -->
                <div class="{% if task.is_completed %}opacity-50{% endif %} d-flex align-items-center gap-1 gap-sm-2">
                    <!-- Checkmark -->
                    <i 
                        class="bi {% if task.is_completed %}bi-check-circle-fill{% else %}bi-circle pointer{% endif %} checkmark" 
                        {% if not task.is_completed %}
                            data-task-id="{{ task.id }}" 
                            onclick="completeTask(this)"
                        {% endif %}>
                    </i>
                    
                    <!-- Status -->
                    {% if task.is_completed or task.is_overdue %}
                        {% if task.is_completed %}
                            <span style="font-size: small;"></span>(Completed)
                        {% elif task.is_overdue %}
                            <span style="font-size: small;" class="text-danger">Overdue!</span>
                        {% endif %}
                    {% endif %}
                </div>

                <!-- Title -->
                <h5 class="task-title {% if task.is_completed %}opacity-50{% endif %} overflow-hidden">{{ task.title }}</h5>
            </div>
            
            <!-- Tags -->
            <div class="task-tags">
                <!-- Categories -->
                {% if task.categories %} 
                    {% for category in task.categories.all %} 
                        <span class="badge change-text-color shadow-sm task-badge" style="background-color: {{ category.color }};"> 
                            {{category.title }} 
                        </span>
                    {% endfor %}
                {% endif %}
    
                <!-- High priority flag -->
                {% if task.is_high_priority %}
                    <i class="bi bi-flag-fill task-priority-flag"></i>
                {% else %}
                    <i class="bi bi-flag task-priority-flag"></i>
                {% endif %}
            </div>
        </div>
        
        <!-- Bottom part -->
        <div class="d-flex flex-column task-bottom">
            <!-- Description -->
            <p class="ms-sm-4 mb-0 task-description overflow-hidden {% if task.is_completed %} opacity-50{% endif %}">
                {{task.text}}
            </p>
    
            <!-- Due date -->
            <div class="d-flex justify-content-end">
                <div class="me-2 opacity-50">{% if task.project %}{{ task.project }}{% endif %}</div>
                <div {% if task.is_overdue %}class="text-danger"{% endif %}>{{ task.due_date|date:"d/m" }}</div>
            </div>
        </div>
    </div>
</div>